.input:focus {
  outline: 1px solid #7c7b7b;
}

.input {
  border: 1px solid #d1d1d1;
  background-color: var(--background);
  color: var(--color);
  border-radius: 5px;
  width: 372px;
  height: 36px;

  padding: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
  border: 1px solid #cc1439;
}

.errorInput:focus {
}

.error {
  display: inline-block;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #cc1439;
  margin-bottom: 5px;
}
