.App {
    /* --header_height: 60px; */
    display: block;
    height: 100vh;
    margin: 70px auto;
}

.hw {
    display: block;
    padding: 0 70px 32px;
    border-bottom: 1px solid #d9d9d9;
}

.hwTitle {
    display: block;
    padding: 37px 70px 10px;
    
    border-bottom: 1px solid #d9d9d9;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;
}