.sendForm {
    display: flex;
}

.textarea {
    resize: none; 
    width: 100%;
    max-height: 300px; 
    min-height: 40px;
    padding-left: 24px;
    padding-top: 11px;

    border-radius: 20px;
    border-color: rgb(29, 33, 38);
    color: var(--color);
    background-color: var(--borderColor);
}

.button {
    background-color: #06c;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: none;
    margin-left: 44px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.button:hover {}

.button:active {}